<?xml version="1.0" encoding="UTF-8"?>
<webapp>
	<title>JCMS Testing</title>
	<view
		path="/"
		name="home"
		doctype="text"
	/>
	<view
		path="/test"
		name="testing"
		doctype="text"
	/>
	<view
		path="/test/doctype.engine.invalid"
		name="test.doctype.engine.invalid"
		doctype="invalid.engine"
	/>
	<view
		path="/test/redirect/permanent"
		name="test.redirect.permanent"
		redirect="permanent"
		location="/test/redirect/location"
	/>
	<view
		path="/test/redirect/temporary"
		name="test.redirect.temporary"
		redirect="temporary"
		location="/test/redirect/location"
	/>
	<view
		path="/test/redirect/invalidstatus"
		name="test.redirect.invalidstatus"
		redirect="invalid"
		location=""
	/>
	<view
		path="/test/redirect/nolocation"
		name="test.redirect.nolocation"
		redirect="permanent"
		location=""
	/>
	<middleware name="respheader">
		<arg name="X-Jcms" value="lalala" />
	</middleware>
</webapp>
