<?xml version="1.0" encoding="UTF-8"?>
<webapp>
	<title>JCMS Testing</title>
	<view
		path="/"
		name="home"
		home="true"
		doctype="text"
	/>
	<view
		path="/test"
		name="testing"
		doctype="text"
	/>
	<view
		path="/test/doctype.engine.invalid"
		name="test.doctype.engine.invalid"
		doctype="invalid.engine"
	/>
</webapp>
